.test_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px;
  border-bottom: 3px solid rgb(231, 226, 255);
}
.test_heder_name {
  margin-left: 5px;
  width: 200px;
}

.test_heder_date {
  width: 200px;
}

.test_header_aciton {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;

  padding-right: 5px;
}
